@import "../assets/scss/styles.scss";

.container {
  background: -webkit-radial-gradient(0%, $black, $purple);
  background: radial-gradient(circle at 0%, $black, $purple);
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    &-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
