@import "../assets/scss/styles.scss";

.container {
  background: radial-gradient(
    80% 80% at bottom left,
    $lightpurple,
    $purpleOpacity0
  );
  min-height: 100vh;
}

.main {
  margin: 0 auto;
  width: 65%;
}
