@import "../assets/scss/styles.scss";

.cards {
  @include flex-wrap();
  margin-top: 6vh;
  justify-content: space-between;

  &__title {
    width: 100%;
    text-align: center;
    margin-bottom: 4vh;
  }

  &__button {
    &-container {
      @include flex-center();
      width: 100%;
      margin-top: 3vh;
    }
    width: 7vw;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include responsive-max($max-width: 26em, $orientation: "portrait") {
  .cards {
    &__button {
      width: 21vw;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
  .cards {
    .card {
      flex: 0 0 25%;
    }
    &__button {
      width: 18vw;
    }
  }
}
