@import "../assets/scss/styles.scss";

.filters {
  width: 15%;
  &__form {
    @include flex-column();
    flex-wrap: wrap;
    margin-top: 2vh;

    label {
      font-size: 0.8rem;
    }

    input[type="checkbox"] {
      margin-bottom: 2vh;
      width: 0.8vw;
      height: 0.8vw;
    }
  }

  &__button {
    font-size: 0.8rem;
  }
}

.accordion {
  &__filters {
    padding: 0.2vh 0.5vw 0.1vh 0.75vw;
  }

  &__item {
    padding: 0.75vh 0 0.75vh 0;
  }

  &__title {
    font-size: 0.85rem;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
  }

  &__subtitle {
    margin-top: 0;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include responsive-max($max-width: 26em, $orientation: "portrait") {
  .filters {
    width: 30%;
    order: 3;
    margin-left: 1vw;
    margin-bottom: 2vh;

    &__form {
      label {
        padding-left: 1vw;
        line-height: auto;
      }
      input[type="checkbox"] {
        margin-bottom: unset;
        width: 4vw;
        height: 4vw;
        margin-top: 1.5vw;
      }
    }
  }

  .accordion {
    &__button {
      &:before {
        right: 2vw;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
  .filters {
    width: 20%;
  }
}
