@import "../assets/scss/styles.scss";

.header {
  @include flex-center();
  width: 90%;
  margin: 0 auto;
  padding-top: 2vh;
  font-size: calc(10px + 1vmin);

  &__logo {
    @include flex-wrap();
    justify-content: center;
    width: 12.5%;
    pointer-events: none;
  }

  &__rrss {
    width: 10%;
  }

  &__buttons {
    @include flex-column();
    width: 12.5%;
    padding-top: 2vh;
  }

  &__icon {
    margin: 0.5vw;
    padding: 0.25vw;
    background-color: rgba($color: white, $alpha: 0.5);
  }
}
