@import "../assets/scss/styles.scss";

.infoBox {
  @include flex-wrap();
  background-color: $blackOpacity03;
  margin-top: 3vh;
  padding: 4vh 3vw 3vh;

  &__left {
    width: 20%;
  }

  &__right {
    width: 80%;
  }

  &__title,
  &__subtitle {
    color: $lightpurple;
  }

  &__title {
    margin: 0 0 1.5vh;
  }

  &__subtitle {
    margin: 1.5vh 0 0;
  }

  &__subtitleText {
    margin: 0;
  }

  &__icon {
    margin: 0.5vw 0.5vw 0 0;
    padding: 0.25vw;
    background-color: rgba($color: white, $alpha: 1);
  }

  &__description {
    margin-top: 0;
    opacity: 0.6;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include responsive-max($max-width: 26em, $orientation: "portrait") {
  .infoBox {
    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
    }

    &__description {
      padding-left: 2vw;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
  .infoBox {
    &__description {
      padding-left: 2vw;
    }
  }
}
