@import "../assets/scss/styles.scss";

.navigation {
  display: flex;
  width: 67.5%;
  &__list {
    @include flex-wrap();
    width: 60%;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
  }

  &__item {
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding-bottom: 0.5vh;

    &:hover,
    &:visited {
      color: white;
    }
  }
  .active {
    border-style: solid;
    border-color: white;
    border-width: 0 0 2px 0;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include responsive-max($max-width: 26em, $orientation: "portrait") {
  .navigation {
    width: 100%;
    order: 4;
    margin-bottom: 4vh;

    &__list {
      width: 100%;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
  .navigation {
    width: 55%;
    
    &__list {
      width: 100%;
      justify-content: space-around;
    }
  }
}
