@import "../assets/scss/styles.scss";

.navigation {
  @include flex-wrap();
  width: 67.5%;
  &__list {
    @include flex-wrap();
    width: 60%;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
  }

  &__item {
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding-bottom: .5vh;

    &:hover,
    &:visited {
      color: white;
    }
  }
  .active {
    border-style: solid;
    border-color: white;
    border-width: 0 0 2px 0
  }
}
