@import "../assets/scss/styles.scss";

.searchbox {
  width: 80%;
  button {
    background: transparent;
    font-size: 1.4rem;
    margin-top: -1.3vh;
    margin-right: 1vw;
    padding: 0;
    border: none;
    cursor: pointer;
    color: white !important;
  }

  input[type="text"] {
    width: 90%;
    padding-left: 2vw;
  }

  &__icon {
    margin-right: -5.5vw;
    margin-top: -4vh;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include responsive-max($max-width: 26em, $orientation: "portrait") {
  .searchbox {
    width: 100%;
    order: 2;

    input[type="text"] {
      width: 98%;
      padding-left: 8vw;
    }

    &__icon {
      margin-right: -14vw;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
  .searchbox {
    width: 80%;

    button {
      margin-top: -3vh;
    }

    input[type="text"] {
      padding-left: 4vw;
    }

    &__icon {
      margin-right: -8vw;
      font-size: 1.2rem;
    }
  }
}
