@import "../assets/scss/styles.scss";

.searchbox {
  width: 80%;
  button {
    margin-right: 16px;
    background: transparent;
    font-size: 1.4rem;
    margin-top: -1.3vh;
    padding: 0;
    border: none;
    cursor: pointer;
    color: white !important;
  }

  input[type="text"] {
    width: 90%;

    &::placeholder {
      padding-left: 1.5vw;
    }
  }

  &__icon {
    margin-right: -4.5vw;
    margin-top: -4vh;
  }
}
