@import "../assets/scss/styles.scss";

.accordion {
  &__general {
    margin-top: 3vh;
    padding: 4vh 3vw 3vh;

    &-button {
      border-style: solid;
      border-width:  0 0 1px 0 ;
      
  }
  
  }
}
